<div class="mere">
  <img class="insta" src="/assets/instag.png" alt="sary">
  <div><B><I><p class="zaho"> Marco Henikaja IMTICIA5</p></I></B></div>
    <div><input autocapitalize="none" class="XTCLo x3qfX" placeholder="Rechercher" type="text" value=""></div>
     <div class="logo">
      <div class="sary">
       
        <div><img src="/assets/Home_50px.png" alt="sary"></div>
       <div><img src="/assets/mess.png" alt="sary"></div> 
       <div> <img src="/assets/Compass_50px.png" alt="sary"></div> 
        <div><img src="/assets/love.png" alt="sary"></div>
       
        
      </div>
    </div>
 </div>

 <br>
 <br>

<div class="reny">
 <div class="story">
    <div class="borybory">
      <img src="/assets/8.jpg" alt="">
      <p>Marco Henikaja</p>
      
    </div> 
    <div class="borybory">
      <img src="/assets/ariva.jpg" alt="">
      <p>Rija Rajao</p>
    </div> 
    <div class="borybory">
      <img src="/assets/alabe.jpg" alt="">
      <p>Mariaka amhed</p>
    </div> 
    <div class="borybory"><img src="/assets/6.jpg" alt="">
      <p>Abdohl</p>
    </div>
    <div class="borybory">
      <img src="/assets/6.jpg" alt="">
      <p>Jason make</p>
    </div>  
 </div>
</div>
 





<br>
<br>  

<div class="body reny">
 <div class="vatana">
   <div class="nom">
    <img src="/assets/ariva.jpg" alt="">
    <b>Marco Henikaja</b>
   
    <div>
      <br>
    </div>
    <br>
    <br>
  </div>
  <br>
</div>
  <img class="paysage"src="/assets/4.jpg" alt="">
  <div class="taille">
    <img src="/assets/love.png" alt="">
    <img src="/assets/sms.png" alt="">
    <img src="/assets/telegram.png" alt="">
</div>


<div class="sisiny">
   <img src="/assets/lalanabe.jpg" alt="">
  <div class="tamabtra">
   <div class="tambatra">
  <div class="anarana">
  <p>
    Aimé par  mialy.mimi et 606 autres personnes
    </p>
    <br>
  </div>
    <div class="midina">
      <p>{{displayVal}}</p>
    </div>
  </div>
  </div>
</div>
  

   <div class="milahatra">
   <img class="tailles"src="/assets/smile.png" alt="">
   <input class="cherche"text="text" #box (keyup)="getValue(box.value)" placeholder="Ajouter un commentaire" name="username">
   <button backgroud-color="blue" class="b" (click)="getValue(box.value)">publier </button>
  </div>
</div>
<br><br>




 



<br><br>
<div class="body reny">
  <div class="vatana">
    <div class="nom">
     <img src="/assets/2.jpg" alt="">
     <b>Marco Henikaja</b>
    
     <div>
       <br>
     </div>
     <br>
     <br>
   </div>
   <br>
 </div>
   <img class="paysage"src="/assets/tanana.jpg" alt="">
   <div class="taille">
     <img src="/assets/love.png" alt="">
     <img src="/assets/sms.png" alt="">
     <img src="/assets/telegram.png" alt="">
 </div>
 
 
 <div class="sisiny">
    <img src="/assets/3.jpg" alt="">
   <div class="tamabtra">
    <div class="tambatra">
   <div class="anarana">
   <p>
     Aimé par  mialy.mimi et 606 autres personnes
     </p>
     <br>
   </div>
     <div class="midina">
       <p>{{displayVal}}</p>
     </div>
   </div>
   </div>
 </div>
   
 
    <div class="milahatra">
    <img class="tailles"src="/assets/smile.png" alt="">
    <input class="cherche"text="text" #box (keyup)="getValue(box.value)" placeholder="Ajouter un commentaire" name="username">
    <button backgroud-color="blue" class="b" (click)="getValue(box.value)">publier </button>
   </div>
 </div>



 


